/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/minecraft/*
/reobf/*
/runtime/*
/temp/*

/src/minecraft/*
/src/minecraft_server/*
/src/common/*

!/src/common/dries007/
!/modsrc/minecraft/net/
CHANGELOG
LICENSE.txt
*.bat
*.sh
*.lnk
*.7z